/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Archivo", sans-serif;
  --secondary-font: "obviously", sans-serif;

  --power-blue-color: #273aaa;
  --hug-me-pink-color: #f7c7d9;
  --love-red-color: #fc4d5c;
  --soft-tears-blue--color: #d1ecef;
  --count-on-me-black-color: #1d1d1b;
  --dreamy-white-color: #fff5eb;
  --background-color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
html,
body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-color);
  list-style: none;
}

main {
  max-width: 1400px;
  padding-inline: 20px;
  margin-inline: auto;
}

/* TEKST START*/
h1 {
  font-size: 4rem;
  font-family: var(--secondary-font);
  font-weight: bold;
}
h2 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: expanded;
  font-family: var(--primary-font);
}

h3 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: expanded;
  font-family: var(--primary-font);
}

p {
  font-family: var(--primary-font);
  color: var(--count-on-me-black-color);
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: normal;
}

p,
a {
  font-family: var(--primary-font);
  font-weight: normal;
  color: var(--count-on-me-black-color);
}
a {
  cursor: pointer;
  transition: all 0.55s ease;
}
a:hover {
  color: var(--action-color);
}

/* ___________________________ TABLET  ___________________________*/
/* reglerne gælder når skærmen er minimum 768px */
@media screen and (min-width: 768px) {
}

/* ___________________________ DESKTOP  ___________________________*/
@media screen and (min-width: 1024px) {
  /* main {
    padding-inline: 80px;
  }
  h1 {
    font-size: 4.6rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.3rem;
  }
  h5 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.125rem;
  } */
}
