---
import "../styles/style.css";
import MainLayout from "../layout/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout>
  <div class="hero_layout">
    <h1 class="hero-h1">RÅDGIVNING FOR FORÆLDRE</h1>
    <div class="hero-mor">
      <img src="public/halv-heromor.png" alt="Mor" />
    </div>
    <div class="hero-datter">
      <img src="public/halv-heropige.png" alt="Pige" />
    </div>
    <div class="kedafdet-pige">
      <img src="public/kedafdet-pige.png" alt="Ked af det pige" />
    </div>
    <div class="hero-textbox">
      <div class="hero-container-gap">
        <Button variant="share_button" Linket="">
          <div class="share-button-svg">
            <img src="/del_svg.svg" alt="Del knap" />
          </div>
        </Button>

        <p class="hero_para">Har du brug for at tale med nogen om din datters trivsel? Så kontakt vores forældrerådgivning.</p>
        <Button variant="primary" Linket="">Book samtale</Button>
        <hr class="hr_styling" />
      </div>
    </div>
  </div>
</MainLayout>
<style>
  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */
  .hero_layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-inline: 64px;
  }
  .hero-h1 {
    grid-area: 3 / 2 / 5 / 9;
    z-index: 1000;
    color: var(--power-blue-color);
  }
  .kedafdet-pige {
    grid-area: 6 / 1 / 11 / 5;
  }
  .hero-textbox {
    grid-area: 6 / 7 / 11 / 10;
  }
  .hero-mor {
    grid-area: 2 / 8 / 7 / 10;
  }
  .hero-datter {
    grid-area: 3 / 11 / 10 / 13;
  }

  .hero_para {
    max-width: 400px;
    margin-bottom: 16px;
  }
  .share-button-svg {
    width: 12px;
    height: 12px;
  }
  .hero-container-gap {
    gap: 16px;
    margin-top: 60px;
  }

  @keyframes slideTogether {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(25.1%, 13.85%);
    }
  }

  @keyframes slideTogether2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-25.1%, -14%);
    }
  }

  .hero_layout .hero-mor img {
    animation: slideTogether 1.5s forwards;
    animation-delay: 3s;
  }

  .hero_layout .hero-datter img {
    animation: slideTogether2 1.5s forwards;
    animation-delay: 3s;
  }
  /* ___________________________ DESKTOP  ___________________________*/
</style>
