---
import "../styles/style.css";
import MainLayout from "../layout/MainLayout.astro";
import Button from "../components/Button.astro";
---

<MainLayout />
<h1>RÅDGIVNING FOR FORÆLDRE</h1>
<div class="share">
  <Button variant="share_button"><img src="public/del_svg.svg" alt="Del knap" /> </Button>
  <p>Har du brug for at tale med nogen om din datters trivsel? Så kontakt vores forældrerådgivning.</p>

  <div class="link_et">
    <Button variant="primary">Book samtale</Button>
  </div>
  <style>
    /* ___________________________ TABLET  ___________________________*/
    /* reglerne gælder når skærmen er minimum 768px */

    /* ___________________________ DESKTOP  ___________________________*/
  </style>
</div>
