---
import "../styles/style.css";
import MainLayout from "../layout/MainLayout.astro";
---

<MainLayout />
<h1>HEEEJ</h1>

<h2>Det her er min h2</h2>

<h3>Det er min h3</h3>

<style>
  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */

  /* ___________________________ DESKTOP  ___________________________*/
</style>
