---
import "../styles/style.css";
---

<section class="citat_section">
  <article>
    <h2 class="citat">
      Din Datters Rejse er Unik: <br />
      Støt Hende Gennem Dialog og Forståelse
    </h2>
  </article>
</section>

<style>
  .article {
    max-width: 1440px;
  }
  .citat_section {
    background-color: var(--dreamy-white-color);
    padding: 112px 0px;
  }
  h2 {
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
    color: var(--power-blue-color);
    font-size: 3.2rem;
    margin: 120px 0 120px 0;
  }
</style>
