---
import "../styles/style.css";
---

<footer>
  <section class="indhold">
    <article class="kasse1">
      <h3>Rådgivning for forældre</h3>

      <p>Har du brug for at tale med nogen om dit barns trivsel? Så kontakt vores forældrerådgivning. Rådgivningen er gratis og fortrolig.</p>

      <a href="#">Book en samtale</a>
    </article>

    <article class="kasse2">
      <h3>For forældre</h3>
      <div class="kasse_indhold">
        <a href="#">Book en samtale</a>
        <a href="#">Kontakt</a>
        <a href="#">Lokalafdelinger</a>
      </div>
    </article>

    <article class="kasse3">
      <h3>Om GirlTalk</h3>
      <div class="kasse_indhold">
        <a href="#">Nyheder</a>
        <a href="#">Bliv frivillig</a>
        <a href="#">Støt</a>
        <a href="#">Jobs</a>
        <a href="#">Vores indsamlinger</a>
        <a href="#">Privatpolitik</a>
        <a href="#">Cookiepolitik</a>
      </div>
    </article>

    <article class="kasse4">
      <h3>Find os her</h3>
      <div class="kasse_indhold">
        <a href="#" target="_blank"> <img src="/public/youtube.svg" alt="" /> Youtube</a>
        <a href="#" target="_blank"> <img src="/public/instagram.svg" alt="" /> Instagram</a>
        <a href="#" target="_blank"> <img src="/public/facebook.svg" alt="" /> Facebook</a>
        <a href="#" target="_blank"> <img src="/public/linkedin.svg" alt="" /> Linkedin</a>
        <a href="#" target="_blank"> <img src="/public/tiktok.svg" alt="" /> TikTok</a>
        <a href="#" target="_blank"> <img src="/public/spotify.svg" alt="" /> Spotify</a>
      </div>
    </article>
  </section>
</footer>

<style>
  footer {
    text-align: left;
    background-color: var(--background-color);
    margin-top: auto;
    margin-bottom: 82px;
    padding-top: 61px;
    justify-content: space-between;
  }
  .indhold {
    display: flex;
    /* flex-wrap: wrap; */
  }

  .kasse_indhold img {
    width: 20px;
    height: 14px;
  }

  .kasse_indhold {
    display: block;
  }

  .kasse1 {
    width: 50%;
  }

  /* ___________________________ TABLET  ___________________________*/
  /* reglerne gælder når skærmen er minimum 768px */
  @media screen and (min-width: 768px) {
  }
  /* ___________________________ DESKTOP  ___________________________*/
  @media screen and (min-width: 1024px) {
  }
</style>
