---
import "../styles/style.css";
---

<footer>
  <article class="kasse1">
    <div class="footer_header">
      <h3>Rådgivning for forældre</h3>
    </div>
    <div class="footer_text">
      <p>Har du brug for at tale med nogen om dit barns trivsel? Så kontakt vores forældrerådgivning. Rådgivningen er gratis og fortrolig.</p>
    </div>
    <div class="footer_book_link">
      <a href="#">Book en samtale</a>
    </div>
  </article>
  <article class="kasse2">
    <div class="footer_header">
      <h3>For forældre</h3>
    </div>
    <div class="kasse_indhold">
      <div>
        <a href="#">Book en samtale</a>
      </div>
      <div>
        <a href="#">Kontakt</a>
      </div>
      <div>
        <a href="#">Lokalafdelinger</a>
      </div>
    </div>
  </article>

  <article class="kasse3">
    <div class="footer_header">
      <h3>Om GirlTalk</h3>
    </div>
    <div class="kasse_indhold">
      <div>
        <a href="#">Nyheder</a>
      </div>
      <div>
        <a href="#">Bliv frivillig</a>
      </div>
      <div>
        <a href="#">Støt</a>
      </div>
      <div>
        <a href="#">Jobs</a>
      </div>
      <div>
        <a href="#">Vores indsamlinger</a>
      </div>
      <div>
        <a href="#">Privatpolitik</a>
      </div>
      <div>
        <a href="#">Cookiepolitik</a>
      </div>
    </div>
  </article>
  <article class="kasse4">
    <div class="footer_header">
      <h3>Find os her</h3>
    </div>
    <div class="kasse_indhold iconer">
      <div class="icon">
        <a href="#" target="_blank"> <img src="/public/youtube.svg" alt="" /> Youtube</a>
      </div>
      <div class="icon">
        <a href="#" target="_blank"> <img src="/public/instagram.svg" alt="" /> Instagram</a>
      </div>
      <div class="icon">
        <a href="#" target="_blank"> <img src="/public/facebook.svg" alt="" /> Facebook</a>
      </div>
      <div class="icon">
        <a href="#" target="_blank"> <img src="/public/linkedin.svg" alt="" /> Linkedin</a>
      </div>
      <div class="icon">
        <a href="#" target="_blank"> <img src="/public/tiktok.svg" alt="" /> TikTok</a>
      </div>
      <div class="icon">
        <a href="#" target="_blank"> <img src="/public/spotify.svg" alt="" /> Spotify</a>
      </div>
    </div>
  </article>

  <style>
    footer {
      background-color: var(--background-color);
      display: block;
      justify-content: space-between;
      max-width: 1400px;
      padding: 15px;
      padding-top: 43px;
      margin-bottom: 40px;
    }

    footer a {
      text-decoration: none;
    }

    .kasse_indhold img {
      width: 20px;
      height: 14px;
    }

    .kasse_indhold {
      padding-left: 0;
    }
    .kasse_indhold a {
      margin-bottom: 24px;
      line-height: 1.0625;
      display: block;
      width: fit-content;
    }
    .footer_header h3 {
      font-size: 1.125rem;
      line-height: 1.25rem;
      margin-bottom: 28px;

      text-transform: none;
      font-weight: 700;
    }
    .kasse1 {
      margin-bottom: 40px;
    }
    .kasse2 h3,
    .kasse3 h3,
    .kasse4 h3 {
      font-size: 1.125rem;
      margin-bottom: 16px;
      line-height: 1.25rem;
      color: var(--power-blue-color);
    }
    .footer_text {
      margin-bottom: 38px;
    }
    .footer_text p {
      font-size: 1rem;
      line-height: 1.5rem;
      width: 100%;
    }
    .footer_book_link a {
      font-size: 1.125rem;
      line-height: 1.375rem;

      font-weight: 700;
      text-decoration: none;
    }

    .iconer a {
      display: flex;
    }
    .icon img {
      margin-right: 12px;
    }

    /* ___________________________ TABLET  ___________________________*/
    /* reglerne gælder når skærmen er minimum 768px */
    @media screen and (min-width: 768px) {
      footer {
        /* text-align: left; */
        background-color: var(--background-color);
        /* margin-top: auto; */
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        margin-inline: 20px;
        padding: 15px;
        margin-bottom: 82px;
        padding-top: 61px;
      }

      .kasse_indhold img {
        width: 20px;
        height: 14px;
      }

      .kasse_indhold {
        padding-left: 0;
      }
      .kasse_indhold a {
        margin-bottom: 24px;
        line-height: 1.0625;
        display: block;
        width: fit-content;
      }
      .footer_header h3 {
        text-transform: none;
        font-size: 2rem;
        line-height: 2.625rem;
        font-weight: 700;
        margin-bottom: 33px;
      }

      .kasse2 h3,
      .kasse3 h3,
      .kasse4 h3 {
        font-size: 1.5625rem;
        color: var(--count-on-me-black-color);
      }
      .footer_text {
        margin-bottom: 58px;
      }
      .footer_text p {
        font-size: 1rem;
        line-height: 1.5rem;
        width: 75%;
      }
      .footer_book_link a {
        font-weight: 700;
        line-height: 1.375rem;
        text-decoration: none;
        font-size: 1.25rem;
      }

      .kasse1 {
        width: 50%;
      }

      .iconer a {
        display: flex;
      }
      .icon img {
        margin-right: 12px;
      }
    }
    /* ___________________________ DESKTOP  ___________________________*/
    @media screen and (min-width: 1024px) {
      h3 {
        font-size: 1.75rem;
      }
    }
  </style>
</footer>
