---
import "../styles/style.css";
---

<header>
  <div class="logo">
    <a href="/">
      <img src="https://www.girltalk.dk/media/rgwppcft/girltalk_logo_black_wide-1.png?mode=max&width=210&format=webp&quality=80" alt="Logo" />
    </a>
  </div>

  <nav>
    <ul class="menu">
      <li><a href="#">Rådgivning <span class="arrow"><img src="/public/chevron-right.svg" alt="chevron right arrow" /></span></a></li>

      <li><a href="#">Viden</a></li>

      <li><a href="#">Om os <span class="arrow"><img src="/public/chevron-right.svg" alt="chevron right arrow" /></span></a></li>

      <li><a href="#">Shop</a></li>

      <li><a href="#">Støt <span class="arrow"><img src="/public/chevron-right.svg" alt="chevron right arrow" /></span></a></li>

      <li><a href="#">Bliv frivillig</a></li>
    </ul>

    <div class="burger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </nav>
</header>

<style>
  header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    /* padding-top: 25px;
    padding-bottom: 25px; */
    padding-inline: 15px;
    margin-inline: 20px;
    background-color: var(--background-color);

    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    position: fixed;
    z-index: 2011;
    height: 5rem;

    width: 97.2%;
    top: 0;
  }

  .logo img {
    max-height: 100%;
    max-width: 100%;
    /* width: 140px;
    height: auto; */
  }

  nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: nowrap;
    align-items: center;
  }

  .menu li {
    margin-right: 20px;
  }

  .menu li:last-child {
    margin-right: 0;
  }

  .menu a {
    display: block;
    padding: 10px;
    color: var(--count-on-me-black-color);
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
    font-weight: 600;
    font-size: 1.25rem;
  }

  .menu a:hover {
    color: var(--power-blue-color);
  }

  .burger {
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .burger .line {
    width: 100%;
    height: 2px;
    background-color: var(--count-on-me-black-color);
    margin-bottom: 5px;
    transition: 0.2s linear;
  }
  .burger,
  .arrow {
    display: none;
  }

  /* __________________________ Tablet delen __________________________ */
  /* Reglen gælder til og med 1024px */
  @media screen and (max-width: 1024px) {
    header {
      padding-inline: 15px;
      text-align: start;

      margin: auto;
      width: 100%;
    }
    .menu {
      display: none;
      text-align: start;
    }
    .burger {
      display: block;
      text-align: start;
    }
    .arrow {
      display: block;
      width: 44px;
      height: 44px;
      background: var(--dreamy-white-color);
      position: relative;
    }
    .burger.active .line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
      transition: 0.2s linear;
    }

    .burger.active .line:nth-child(2) {
      opacity: 0;
      transition: 0.15s linear;
    }

    .burger.active .line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
      transition: 0.2s linear;
    }

    nav.active .menu {
      display: block;
      /* background-color: var(--background-color);
      position: absolute;
      top: 80px; */
      left: 0;
      /* width: 100%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      z-index: 1;
      text-align: start; */

      padding-top: 30px;
      transform: none;

      position: fixed;
      transition: transform 0.3s ease-in-out;
      width: 100%;
      height: calc(100% - 4rem - 100px);
      top: 4rem;
      overflow-y: scroll;
      overflow-x: hidden;
      background-color: var(--background-color);
      justify-content: center;
      align-items: center;
      text-align: center;
      z-index: 99;
      /* transform: translateX(100%); */
      padding: 30px 32px 0;
    }

    nav.active .menu li {
      /* margin: 10px 20px; */
      text-align: start;
      margin-right: 0px;
    }

    nav.active .menu a {
      font-size: 1.25rem;
      text-align: start;
      padding-bottom: 15px;
      padding-top: 13px;
      font-weight: 700;
      border-bottom: 1px solid rgba(16, 17, 13, 0.09);

      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu a:hover {
      color: var(--count-on-me-black-color);
    }
    .logo img {
      height: auto;

      width: 110px;
      min-width: 110px;
      top: 3px;
    }
  }

  /* __________________________ Mobil delen __________________________ */
  /* Reglen gælder til og med 768px */
  /* @media screen and (max-width: 768px) {
    header {
      padding-inline: 20px;
      text-align: start;
    }

    nav.active .menu a {
      font-size: 1rem;
      text-align: start;
    }
    .logo img {
      height: auto;

      width: 110px;
      min-width: 110px;
      top: 3px;
    }
  } */
</style>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");
  const menu = document.querySelector(".menu");
  const links = document.querySelectorAll(".menu li a");

  burger.addEventListener("click", () => {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  });

  links.forEach((link) => {
    link.addEventListener("click", () => {
      burger.classList.remove("active");
      nav.classList.remove("active");
    });
  });
</script>
