---
import "../styles/style.css";
---

<section class="taleboble_section">
  <article>
    <div class="taleboble_grid">
      <div class="taleboble1">
        <img src="/taleboble1.svg" alt="Tale boble" />
      </div>
      <div class="tekst1">
        <h2>Lyt og støt hendes selvudvikling</h2>
      </div>
    </div>
  </article>
</section>

<style>
  .article {
    max-width: 1440px;
  }
  .taleboble_section {
    background-color: var(--dreamy-white-color);
    padding: 40px;
  }
  .taleboble_grid {
    padding-inline: auto;
  }

  .tekst1 {
    display: none;
  }
  @media (min-width: 1024px) {
    .taleboble1 {
      padding-right: 360px;
      padding-left: 40px;
    }
  }
</style>
