---
import "../styles/style.css";
---

<section class="taleboble_section">
  <article>
    <div class="taleboble_grid">
      <div class="taleboble2">
        <img src="/taleboble2.svg" alt="Tale boble" />
      </div>
      <div class="tekst2">
        <h2>Skab et trygt rum for hendes <br /> følelser og åben dialogen</h2>
      </div>
    </div>
  </article>
</section>

<style>
  .article {
    max-width: 1440px;
  }
  .taleboble_section {
    background-color: var(--dreamy-white-color);
    padding: 40px;
  }

  .taleboble_grid {
    padding-inline: auto;
  }
  .tekst2 {
    display: none;
  }

  @media (min-width: 1024px) {
    .taleboble2 {
      padding-left: 360px;
      padding-right: 40px;
    }
  }
</style>
